{% extends "base.html" %}
{% load static %}
{% block mainsection %}
    <div class="container-fluid position-relative bg-white d-flex p-0" style="width: 100em;margin-left: 10em;">
            <!-- Form Start -->
            <div class="container-fluid pt-4 px-4" style="width: 300em;">
                <div class="row g-4">
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-light rounded h-100 p-4">
                            <h6 class="mb-4">Edit Leads</h6>
                            <form method="post" action="/edit-leads/{{displaylead.id}}">
                                {% csrf_token %}
                                <div class="mb-3">
                                    <label for="FirstName" class="form-label">First Name</label>
                                    <input type="text" class="form-control" id="FirstName"  value="{{displaylead.FirstName}}" name="firstname"required>
                                </div>
                                
                                <div class="mb-3">
                                    <label for="LastName" class="form-label">Last Name</label>
                                    <input type="text" class="form-control" id="LastName"  value="{{displaylead.LastName}}" name="lastname">
                                </div>
                                <div class="mb-3">
                                    <label for="Phoneno" class="form-label">Phone No.</label>
                                    <input type="text" class="form-control" id="Phoneno"  value="{{displaylead.Phone_No}}" name="phoneno"required>
                                </div>
                                <div class="mb-3">
                                    <label class="city">City</label>
                                    <input type="text" class="form-control" id="city"  value="{{displaylead.City}}" name="city"required>
                                 
                                </div>
                                <div class="mb-3">
                                    <label for="reference" class="form-label">Reference</label>
                                    <input type="text" class="form-control" id="reference"  value="{{displaylead.Reference}}" name="reference" >
                                </div>
                                <div class="mb-3">
                                    <label class="form-label form-label">LOB</label>
                                    <select class="form-select" aria-label="Default select example"  value="{{displaylead.LOB}}" name="lob" required>
                                        <option>select lob</option>
                                        <option>Aviation</option>
                                        <option>Engineering</option>
                                        <option>Marine</option>
                                        <option>Motor 4W</option>
                                        <option>Motor 2W</option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label class="follow-up date">Follow-up Date</label>
                                    <input type="date"class="form-control" value="{{displaylead.Follow_up_date}}"  id="follow-up date" name="follow-up date">
                                </div>
                                <div class="mb-3">
                                    <label for="Notes" class="form-label">Notes</label>
                                    <input type="text" class="form-control" id="Notes"  value="{{displaylead.Notes}}" name="notes">
                                </div>
                          
                                <button type="submit"  class="btn btn-primary">Add</button>
                            </form>
                        </div>
                    </div> 
                </div>
            </div>
            <!-- Form End -->
    </div>

    {% endblock mainsection %}